@property --annie {
  syntax: "*";
  inherits: false;
}
.overlays {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  perspective: 900px;
  transform-style: preserve-3d;
  filter: hue-rotate(0deg);
  --annie_play-state: paused;
  --annie: --a 10s calc(-1s * var(--start)) infinite ease-in-out alternate var(--annie_play-state);
}
.overlays:active {
  --annie_play-state: running;
}
.overlays .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlays #overlay_sky {
  background-image: radial-gradient(circle at bottom, transparent 65%, #270245), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 41, 65, 0.4)), linear-gradient(to bottom, #270245, #871A85);
  background-size: cover, cover, cover;
}
.overlays #overlay_stars {
  background-image: repeating-conic-gradient(rgba(255, 255, 255, 0.1333333333) 0%, transparent 0.0002%, transparent 0.0045%, transparent 0.045%), repeating-conic-gradient(rgba(255, 255, 255, 0.6) 0%, transparent 0.0002%, transparent 0.009%, transparent 0.09%), repeating-conic-gradient(rgba(255, 255, 255, 0.4) 0%, transparent 0.0002%, transparent 0.0075%, transparent 0.075%);
  background-size: 100vmin 100vmin;
  filter: drop-shadow(0 0 0.8vmin #FFF) drop-shadow(0 0 0.2vmin #FFF) drop-shadow(0 0 0.2vmin #FFF);
}
.overlays .overlay_sun {
  display: flex;
  flex: 1;
  flex-direction: column;
  filter: drop-shadow(0 0 5vmin #FF2941) drop-shadow(0 0 7.5vmin #FE18D3);
}
.overlays .overlay_sun .overlay_sun-sun {
  background-image: radial-gradient(circle at top, #FFF 0%, transparent 50%), radial-gradient(circle, transparent, #FE18D3), repeating-linear-gradient(#FF2941 0%, transparent 0.5%, #FF2941 1%), radial-gradient(circle, #FEFF38 0% 45%, #FF2941 85%, #FE18D3 100%);
  box-shadow: inset 0vmin 0.5vmin 1vmin #FFF, inset 0vmin 1vmin 2vmin #FEFF38;
  border-radius: 50%;
  width: 30vmin;
  height: 30vmin;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  margin-top: 10vmin;
  -webkit-mask: linear-gradient(to bottom, #000 10% 15%, transparent 15% 15.25%, #000 15.25% 21%, transparent 21% 21.5%, #000 21.5% 27%, transparent 27% 27.75%, #000 27.75% 33%, transparent 33% 34%, #000 34% 39%, transparent 39% 40.5%, #000 40.5% 44%, transparent 44% 46%, #000 46% 50%, transparent 50% 52%, #000 52% 56%, transparent 56% 58%, #000 58% 62%, transparent 62% 64%, #000 64% 67%, transparent 67% 70%, #000 70% 73%, transparent 73% 76%, #000 76% 79%, transparent 79% 82%, #000 82% 84%, transparent 84% 88%, #000 88% 90%, transparent 90% 94%, #000 94% 95%, transparent 95% 100%);
}
.overlays #overlay_sun2, .overlays #overlay_sun3 {
  filter: blur(5vmin);
  z-index: 1;
  transform: scale(1.5);
  transform-origin: top center;
}
.overlays #overlay_sun3 {
  transform: scale(1.5) translateY(35%) translateZ(-1500px) rotateX(75deg);
  filter: blur(15vmin);
  z-index: 2;
}
.overlays #overlay_sun3 .overlay_sun-sun {
  width: 90vmin;
  height: 90vmin;
}
.overlays #overlay_floor {
  width: 200%;
  transform: rotateX(70deg) translateX(-10%) translateY(50%);
  transform-style: preserve-3d;
  margin: 0 auto;
  z-index: 1;
}
.overlays #overlay_floor #overlay_floor-color, .overlays #overlay_floor #overlay_floor-grid, .overlays #overlay_floor #overlay_floor-horizon, .overlays #overlay_floor #overlay_floor-horizon2, .overlays #overlay_floor #overlay_mountain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlays #overlay_floor #overlay_floor-color {
  background-image: linear-gradient(to bottom, rgba(39, 2, 69, 0.8), rgba(135, 26, 133, 0.8));
}
.overlays #overlay_floor #overlay_floor-grid {
  background-image: repeating-linear-gradient(to bottom, #FE18D3 0%, rgba(0, 0, 0, 0) 0.1% 1.9%, #FE18D3 2%), repeating-linear-gradient(to right, #FE18D3 0%, rgba(0, 0, 0, 0) 0.1% 1.9%, #FE18D3 2%);
  background-size: 100vw 100vw;
  filter: drop-shadow(0 0 1vmin #FE18D3);
}
.overlays #overlay_floor #overlay_floor-horizon {
  background-image: linear-gradient(to bottom, #ff97eb 0%, transparent 30%);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  box-shadow: 0 -1vmin 5vmin #FFF, 0 0 10vmin 2.5vmin #FE18D3;
}
.overlays #overlay_floor #overlay_floor-horizon2 {
  transform: translateZ(1vmin);
  box-shadow: inset 0 0 24vmin rgba(255, 255, 255, 0.8), 0 0 32vmin rgba(255, 255, 255, 0.8);
}
.overlays .overlay_mountain {
  transform-style: preserve-3d;
  filter: drop-shadow(0 0 24px rgba(255, 255, 255, 0.6)) drop-shadow(0 0 48px #FE18D3);
}
.overlays .overlay_mountain .overlay_mountain-mountain {
  background: linear-gradient(to bottom, #871A85, #270245, #FE18D3);
  width: 10000px;
  margin-left: -1500px;
  height: 100%;
  -webkit-mask-image: url("https://rockstarwind.github.io/codepen-footer/pen-assets/2022-01-27_has-5/mountain3.svg");
  -webkit-mask-position: 100% 0px;
  -webkit-mask-repeat: repeat-x;
  transform: rotateX(0deg) translateY(-200px) translateZ(-3000px);
}
.overlays #overlay_overlay {
  background-image: radial-gradient(circle at top, rgba(255, 255, 255, 0) 45%, rgba(39, 2, 69, 0.8), #000), radial-gradient(circle at top, rgba(254, 255, 56, 0.2) 0%, rgba(255, 41, 65, 0.2) 15%, rgba(0, 0, 0, 0));
  background-size: cover;
  position: absolute;
  z-index: 1;
}

body {
  background: #000;
  color: #FFF;
  font-family: "Helvetica", "Arial", sans-serif;
}
body:not(:has(#rsw-footer)):before {
  content: "Put it back!";
  font-size: 20vmin;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body:not(:has(#rsw-footer)) * {
  display: none;
}/*# sourceMappingURL=bg.css.map */