/*style for the nexus home world*/

/*at the lowest level of the document*/
:root {
  /* variables: */
  --default_bg_img: url('https://sadhost.neocities.org/images/tiles/purplesky.gif');

  /* colors */
  --color_text: #320648;
  --color_borders: #320648;
  --color_bg: #320648;
}

/*Custom Font*/

/*optional, not yet implemented i guess. For how to implement, google (using duckduckgo), or see style_example.css */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*put custom Font in there i guess. (but with quotes ' ' ) */

  margin: 0;

  color: aliceblue;

  background-color: var(--color_bg);

  /*if using repeating image as background set size: */
  background-size: 65px;
  background-image: var(--default_bg_img);
}

/*selects all elements*/
* {
  box-sizing: border-box;
}

/*used to set the properties of div with id=container */
#container {
  /*center div*/
  margin: 0 auto;
}

/*for all links in container: */
#container a {
  color: aqua;
  font-weight: bold;
  /* if you want to remove the underline
  you can add a line below here that says:
  text-decoration:none; */
}

/*no header and navbar in here*/

#menu {
  
}