:root {
  --primary-color:cyan;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-60deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.81em;
  --top-offset: 70.47vh;
  --fall-duration: 9.159s;
  --fall-delay: 3.583s;
}
.star:nth-child(2) {
  --star-tail-length: 5.3em;
  --top-offset: 51.09vh;
  --fall-duration: 8.563s;
  --fall-delay: 9.821s;
}
.star:nth-child(3) {
  --star-tail-length: 6.59em;
  --top-offset: 57.05vh;
  --fall-duration: 6.999s;
  --fall-delay: 1.074s;
}
.star:nth-child(4) {
  --star-tail-length: 5.29em;
  --top-offset: 82.03vh;
  --fall-duration: 6.994s;
  --fall-delay: 7.517s;
}
.star:nth-child(5) {
  --star-tail-length: 6.52em;
  --top-offset: 42.23vh;
  --fall-duration: 10.659s;
  --fall-delay: 5.823s;
}
.star:nth-child(6) {
  --star-tail-length: 6.28em;
  --top-offset: 77.96vh;
  --fall-duration: 6.546s;
  --fall-delay: 2.698s;
}
.star:nth-child(7) {
  --star-tail-length: 5.05em;
  --top-offset: 15.65vh;
  --fall-duration: 11.373s;
  --fall-delay: 6.634s;
}
.star:nth-child(8) {
  --star-tail-length: 6.43em;
  --top-offset: 80.37vh;
  --fall-duration: 9.645s;
  --fall-delay: 8.207s;
}
.star:nth-child(9) {
  --star-tail-length: 6.37em;
  --top-offset: 99.4vh;
  --fall-duration: 7.836s;
  --fall-delay: 5.438s;
}
.star:nth-child(10) {
  --star-tail-length: 7.07em;
  --top-offset: 42.1vh;
  --fall-duration: 9.754s;
  --fall-delay: 3.925s;
}
.star:nth-child(11) {
  --star-tail-length: 6.22em;
  --top-offset: 55.46vh;
  --fall-duration: 9.247s;
  --fall-delay: 5.275s;
}
.star:nth-child(12) {
  --star-tail-length: 6em;
  --top-offset: 32.58vh;
  --fall-duration: 6.725s;
  --fall-delay: 1.338s;
}
.star:nth-child(13) {
  --star-tail-length: 7.34em;
  --top-offset: 20.59vh;
  --fall-duration: 8.784s;
  --fall-delay: 8.334s;
}
.star:nth-child(14) {
  --star-tail-length: 5.81em;
  --top-offset: 66.49vh;
  --fall-duration: 10.454s;
  --fall-delay: 7.598s;
}
.star:nth-child(15) {
  --star-tail-length: 5.98em;
  --top-offset: 91.99vh;
  --fall-duration: 8.748s;
  --fall-delay: 1.283s;
}
.star:nth-child(16) {
  --star-tail-length: 6.86em;
  --top-offset: 26.88vh;
  --fall-duration: 7.525s;
  --fall-delay: 8.337s;
}
.star:nth-child(17) {
  --star-tail-length: 7.47em;
  --top-offset: 96.99vh;
  --fall-duration: 6.825s;
  --fall-delay: 8.004s;
}
.star:nth-child(18) {
  --star-tail-length: 7.07em;
  --top-offset: 66.57vh;
  --fall-duration: 7.249s;
  --fall-delay: 2.101s;
}
.star:nth-child(19) {
  --star-tail-length: 6.74em;
  --top-offset: 44.52vh;
  --fall-duration: 10.439s;
  --fall-delay: 5.32s;
}
.star:nth-child(20) {
  --star-tail-length: 5.86em;
  --top-offset: 88.9vh;
  --fall-duration: 9.323s;
  --fall-delay: 8.395s;
}
.star:nth-child(21) {
  --star-tail-length: 7.49em;
  --top-offset: 97.22vh;
  --fall-duration: 9.767s;
  --fall-delay: 5.126s;
}
.star:nth-child(22) {
  --star-tail-length: 6.29em;
  --top-offset: 38.76vh;
  --fall-duration: 9.098s;
  --fall-delay: 2.009s;
}
.star:nth-child(23) {
  --star-tail-length: 6.07em;
  --top-offset: 75.54vh;
  --fall-duration: 7.008s;
  --fall-delay: 5.267s;
}
.star:nth-child(24) {
  --star-tail-length: 6.71em;
  --top-offset: 43.33vh;
  --fall-duration: 11.969s;
  --fall-delay: 4.017s;
}
.star:nth-child(25) {
  --star-tail-length: 5.87em;
  --top-offset: 23.71vh;
  --fall-duration: 6.231s;
  --fall-delay: 3.861s;
}
.star:nth-child(26) {
  --star-tail-length: 7.16em;
  --top-offset: 86.03vh;
  --fall-duration: 9.625s;
  --fall-delay: 4.208s;
}
.star:nth-child(27) {
  --star-tail-length: 6.94em;
  --top-offset: 93vh;
  --fall-duration: 8.611s;
  --fall-delay: 7.279s;
}
.star:nth-child(28) {
  --star-tail-length: 6.09em;
  --top-offset: 73.38vh;
  --fall-duration: 8.251s;
  --fall-delay: 7.021s;
}
.star:nth-child(29) {
  --star-tail-length: 6.04em;
  --top-offset: 77.21vh;
  --fall-duration: 10.496s;
  --fall-delay: 2.02s;
}
.star:nth-child(30) {
  --star-tail-length: 6.04em;
  --top-offset: 72.77vh;
  --fall-duration: 10.764s;
  --fall-delay: 6.439s;
}
.star:nth-child(31) {
  --star-tail-length: 5.22em;
  --top-offset: 4.94vh;
  --fall-duration: 10.026s;
  --fall-delay: 7.487s;
}
.star:nth-child(32) {
  --star-tail-length: 5.16em;
  --top-offset: 30.2vh;
  --fall-duration: 8.791s;
  --fall-delay: 4.859s;
}
.star:nth-child(33) {
  --star-tail-length: 6.46em;
  --top-offset: 23.57vh;
  --fall-duration: 6.276s;
  --fall-delay: 3.304s;
}
.star:nth-child(34) {
  --star-tail-length: 5.85em;
  --top-offset: 23.1vh;
  --fall-duration: 8.52s;
  --fall-delay: 9.839s;
}
.star:nth-child(35) {
  --star-tail-length: 7.1em;
  --top-offset: 77.75vh;
  --fall-duration: 11.8s;
  --fall-delay: 3.087s;
}
.star:nth-child(36) {
  --star-tail-length: 6.59em;
  --top-offset: 7.99vh;
  --fall-duration: 9.737s;
  --fall-delay: 9.672s;
}
.star:nth-child(37) {
  --star-tail-length: 6.77em;
  --top-offset: 6.54vh;
  --fall-duration: 6.54s;
  --fall-delay: 1.014s;
}
.star:nth-child(38) {
  --star-tail-length: 6.36em;
  --top-offset: 46.67vh;
  --fall-duration: 8.167s;
  --fall-delay: 2.75s;
}
.star:nth-child(39) {
  --star-tail-length: 5.36em;
  --top-offset: 96.55vh;
  --fall-duration: 9.05s;
  --fall-delay: 9.37s;
}
.star:nth-child(40) {
  --star-tail-length: 6.12em;
  --top-offset: 77.77vh;
  --fall-duration: 6.938s;
  --fall-delay: 2.824s;
}
.star:nth-child(41) {
  --star-tail-length: 6.43em;
  --top-offset: 86.94vh;
  --fall-duration: 6.069s;
  --fall-delay: 7.233s;
}
.star:nth-child(42) {
  --star-tail-length: 6.51em;
  --top-offset: 95.88vh;
  --fall-duration: 11.622s;
  --fall-delay: 7.077s;
}
.star:nth-child(43) {
  --star-tail-length: 7.06em;
  --top-offset: 32.46vh;
  --fall-duration: 6.879s;
  --fall-delay: 4.366s;
}
.star:nth-child(44) {
  --star-tail-length: 6.42em;
  --top-offset: 4.92vh;
  --fall-duration: 8.719s;
  --fall-delay: 6.784s;
}
.star:nth-child(45) {
  --star-tail-length: 5.02em;
  --top-offset: 80.72vh;
  --fall-duration: 10.315s;
  --fall-delay: 6.897s;
}
.star:nth-child(46) {
  --star-tail-length: 5.14em;
  --top-offset: 13.57vh;
  --fall-duration: 8.187s;
  --fall-delay: 9.022s;
}
.star:nth-child(47) {
  --star-tail-length: 6.76em;
  --top-offset: 50.37vh;
  --fall-duration: 6.619s;
  --fall-delay: 9.677s;
}
.star:nth-child(48) {
  --star-tail-length: 5.3em;
  --top-offset: 2.54vh;
  --fall-duration: 6.172s;
  --fall-delay: 2.359s;
}
.star:nth-child(49) {
  --star-tail-length: 6.66em;
  --top-offset: 55.31vh;
  --fall-duration: 8.872s;
  --fall-delay: 2.662s;
}
.star:nth-child(50) {
  --star-tail-length: 5.32em;
  --top-offset: 95.23vh;
  --fall-duration: 11.386s;
  --fall-delay: 5.433s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=stars.css.map */